<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-control">Numero 1</label>
            <input type="text" class="form-control" [(ngModel)]="num1" name="num1" placeholder="Introduce un numero">
        </div>
        <div class="mb-3">
            <label for="" class="form-control">Numero2</label>
            <input type="text" class="form-control" [(ngModel)]="num2" name="num1" placeholder="Introduce un numero">
        </div>
        <div class="mb-3">
            <button (click)="sumar()" class="btn btn-primary">Sumar</button>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="" class="form-control">Numero</label>
                    <input type="text" class="form-control" [(ngModel)]="num" name="num" placeholder="Introduce un numero para multiplicar ">
                </div>
        
                    <button (click)="tabla()" class="btn btn-primary">Multiplicar</button>
                </div>
            </div>
        

    </div>



    <div class="col-6">
    <h2>Resultado: {{resultado1}} </h2>
    <br>
    <br>
    <h2>Tablas: </h2>
    <h2 *ngFor="let resultado of texto">{{resultado}} </h2>
</div>



<div class="col-6">

</div>